.todoListinItemMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.todoListItemMain .header button {
  padding: 10px;
  font-size: 12px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoListItemMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListofItemMain .header button {
  padding: 10px;
  font-size: 14px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
.todoListofItemMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}